Bug - Invalid iCalendar format generated (RRULE UNTIL + DATE-TIME precision)

Env: https://calendar-ng-preprod.linagora.com

When I create an recurrence event (has "UNTIL")

<img width="2178" height="1086" alt="Image" src="https://github.com/user-attachments/assets/07aba2d4-f957-4f64-b68a-70d0ae8dfa5f" />


The frontend is generating an iCalendar (ICS) event that does not comply with RFC 5545 specification.

Example event:

```
BEGIN:VEVENT
UID:7d0e093b-a170-4c4c-b9f6-a9de0bf49f5b
DTSTART;TZID=Asia/Ho_Chi_Minh:20260408T153000
DTEND;TZID=Asia/Ho_Chi_Minh:20260408T160000
RRULE:FREQ=WEEKLY;INTERVAL=1;UNTIL=20270409;BYDAY=WE
EXDATE:20260408T083000Z
END:VEVENT
```

---

**Issues**

1. **UNTIL has incorrect value type**

* `DTSTART` is `DATE-TIME` with `TZID`
* `UNTIL` is provided as `DATE` (`20270409`)

👉 According to RFC 5545 (Section 3.3.10):

> "The value of the UNTIL rule part MUST have the same value type as the DTSTART property."

> "If DTSTART is specified with a time zone reference, UNTIL MUST be specified as a UTC DATE-TIME."

❌ Current:

```
UNTIL=20270409
```

✅ Expected:

```
UNTIL=20270407T083000Z
```

https://www.rfc-editor.org/rfc/rfc5545#section-3.3.10
And Openpaas https://calendar.linagora.com/

**Impact**
- Backend library ical4j can not `calculateRecurrenceSet` with invalid input

